main{
    display:flex;
    height: 100vh;
    background-color: rgb(38, 161, 14);
    flex-direction: column;
    align-items: center;
}
h1{
    background-color: darkgreen;
    color: white;
    padding: 30px;
    font-size: 3.5rem;
}
label{
    color: white;
    font-size: 2rem;
    font-style:italic;
}
input{
    display: block;
    padding: 10px;
    background-color: rgb(179, 243, 179);
    font-size: 1.5rem;
    border-radius: 10px;
    border: 1px solid white;
    margin-top:20px;
}
button{
    margin: 20px;
    padding: 10px;
    background-color: rgb(172, 197, 172);
    font-size: 1.5rem;
    border-radius: 10px;
    border: 1px solid white;
}
.resultado{
    font-size: 3.5rem;
    background-color: red;
    color: white;
}